.btn{
	display: inline-block;
	position: relative;
	padding: 20px 80px;
	line-height: 1.3;
	vertical-align: top;
	text-decoration: none;
	text-align: center;
	white-space: nowrap;
	font-size: 18px;
	font-family: $font;
	color: #000;
	cursor: pointer;
	user-select: none;
	border: 2px solid #fff;
	border-radius: 35px;
	transition: all 0.3s ease;
	background-color: #fff;
	@include res(l) {
		padding: 16px 50px;
		font-size: 16px;
	}
	@include res(s) {
		padding: 12px 35px;
	}
	&:focus{
		outline: none;
	}
	&:hover {
		border-color: $link-hover;
		color: $link-hover;
	}
	&--trans {
		border-color: #000;
		background: transparent;
	}
	&--red {
		border-color: $red;
	}
}

button::-moz-focus-inner {
	border: 0;
	padding: 0;
}