.services-sec {}

.services {}

.services__item {
	padding-top: $pad-l;
	padding-bottom: $pad-xl;
	overflow: hidden;
	@include res(l) {
		padding-top: $pad-m;
		padding-bottom: $pad-m;
	}
	@include res(s) {
		padding-top: $pad-s;
		padding-bottom: $pad-s;
	}
	&.animated {
		.services__img {
			img {
				opacity: 1;
				transform: translate3d(0,0,0);
				transition: transform 3s ease, opacity 0.5s ease;
			}
		}
		.services__title {
				opacity: 1;
				transform: translate3d(0,0,0);
				transition: transform 1.5s ease, opacity 0.6s ease-in;
		}
		.user-content {
				opacity: 1;
				transform: translate3d(0,0,0);
				transition: transform 1.5s ease 0.3s, opacity 0.6s ease-in 0.3s;
		}
		.services__targets {
				opacity: 1;
				transform: translate3d(0,0,0);
				transition: transform 1.5s ease 0.6s, opacity 0.6s ease-in 0.6s;
		}
		.btn {
				opacity: 1;
				transform: translate3d(0,0,0);
				transition: transform 1.5s ease 0.9s, opacity 0.6s ease-in 0.9s;
		}
	}
}

.services__img {
	position: relative;
	height: 100%;
	img {
		position: absolute;
		max-width: 100%;
	}

	&--1 {
		.services__img-top {
			top: 5%;
			left: 0;
			opacity: 0;
			transform: translate3d(0,100px,0);
		}
		.services__img-bottom {
			top: 5%;
			left: 0;
			opacity: 0;
			transform: translate3d(0,140px,0);
		}
	}
	&--2 {
		.services__img-top {
			top: 14%;
			left: 0;
			opacity: 0;
			transform: translate3d(0,100px,0);
		}
		.services__img-bottom {
			top: 12%;
			right: 0%;
			opacity: 0;
			transform: translate3d(0,140px,0);
		}
	}
	&--3 {
		.services__img-top {
			top: 0;
			left: 0;
			opacity: 0;
			transform: translate3d(0,100px,0);
		}
		.services__img-bottom {
			top: 0%;
			left: 0;
			opacity: 0;
			transform: translate3d(0,140px,0);
		}
	}
	&--4 {
		.services__img-top {
			top: 10%;
			left: 0px;
			opacity: 0;
			transform: translate3d(0,100px,0);
		}
		.services__img-bottom {
			top: 10%;
			left: 0;
			opacity: 0;
			transform: translate3d(0,140px,0);
		}
	}
}

.services__img-mobile {
	display: none;
	@include res(s) {
		position: relative!important;
		display: block;
		margin: 0 auto $pad-xs;
		max-height: 200px;
	}
}

.services__img-overlay {
	display: none;
	z-index: 3;
}

.services__img-top {
	z-index: 2;
}

.services__img-bottom {
	z-index: 0;
}

.services__info {
	max-width: 480px;
	.user-content {
		padding-bottom: $pad-s;
		opacity: 0;
		transform: translate3d(100px,0,0);
		@include res(s) {
			padding-bottom: $pad-xs;
			transform: translate3d(60px,0,0);
		}
	}
	.btn {
		opacity: 0;
		transform: translate3d(100px,0,0);
	}
}

.services__title {
	opacity: 0;
	transform: translate3d(100px,0,0);
	@include res(s) {
		transform: translate3d(60px,0,0);
	}
	.h3 {
		padding-bottom: $pad-xxs;
	}
}

.services__title-img {
	display: block;
	margin-bottom: $pad-s;
	max-width: 100%;
	@include res(l) {
		max-height: 100px;
	}
	@include res(s) {
		max-height: 60px;
		margin-bottom: $pad-xs;
	}
	@include res(xs) {
		max-height: 50px;
		margin-bottom: $pad-xxs;
	}
}

.services__targets {
	display: flex;
	flex-wrap: wrap;
	padding-bottom: $pad-l;
	opacity: 0;
	transform: translate3d(100px,0,0);
	@include res(l) {
		padding-bottom: $pad-m;
	}
	@include res(s) {
		padding-bottom: $pad-xs;
		transform: translate3d(60px,0,0);
	}
	span {
		display: block;
		width: 50%;
		padding-bottom: 5px;
		padding-right: 20px;
		font-weight: bold;
		font-size: 12px;
		text-transform: uppercase;
		@include res(s) {
			font-size: 10px;
		}
	}
}
